{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}

{% block content %}
<div class="row">
    <div class='span12'>
        <div class='pull-right'>
            <a class='btn btn-info btn-mini'><i class="icon-chevron-left"></i>&nbsp;Prev</a>
            <a class='btn btn-info btn-mini'>&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;</a>
            <a class='btn btn-info btn-mini'>Next&nbsp;<i class="icon-chevron-right"></i></a>
        </div>
        <br />
        <hr />

    </div>
    <div class="span3">
        <span href="#" class="thumbnail stacked white">
            {% if not user.details.picture %}
                <img src="http://placehold.it/360x268" alt="">
            {% else %}
                <img src="{% thumbnail user.details.picture 360x268 %}" alt="">
            {% endif %}
        </span>
    </div>
    <div class="span5">
        <div class='hero-unit'>
            <h1>{{object.details.name}}</h1>
            <h3>{{object.details.state}}, {{object.details.area}}</h3>
        </div>
        <a class='button blue'>Contact this tutor</a>
        <article class='post'>
        <div class='entry-body' style='width:100%'>
            <p>
            {{object.details.description|linebreaks}}
            </p>
        </div>
        </article>
    </div>
    <div class="span3">
        <strong>Experience</strong><br />
        {% for experience in object.teaching_experiences.all %}
            <p>
                {{experience.school}}<br />
                {{experience.from_year}} - {{experience.to_year}}<br />
                {{experience.subject}}<br />
            </p>
        {% endfor %}
        <hr />
        <strong>Education</strong><br />
        {% for education in object.education_backgrounds.all %}
            <p>
                {{education.institution}}<br />
                {{education.major}}<br />
                {{education.graduation_year}}<br />
            </p>
        {% endfor %}
        <hr />
        <strong>Teaching Subjects</strong><br />
        <ul class='tags'>
            {% for teaching_subject in object.teaching_subjects.all %}
                <li><a href='#'>{{teaching_subject.subject.title}}</a></li>
            {% endfor %}
        </ul>
        <hr />
        <strong>Teaching Levels</strong><br />
        <ul class='tags blue'>
            {% for teaching_level in object.teaching_levels.all %}
                <li><a href='#'>{{teaching_level.level.title}}</a></li>
            {% endfor %}
        </ul>



    </div>
    
</div>

{% endblock %}
