{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% block nav-home %} active {% endblock %}

{% block content %}
<div class="hero-unit">
    <h1 align='center'>Find great home tuition teachers near you.</h1> 
    <div class='span12'>
        <div class='span2'>
            &nbsp;
            {% if page_prev %}
            <a href='{% url 'tutors:list_by_subject' subject.slug %}?page={{page_prev}}' class=''><i class="icon-chevron-left"></i>&nbsp;Prevous</a>
            {% endif %}
        </div>
        <div class='span7'>
            <p align='center'>
                {{subject.title}}
            </p>
        </div>
        <div class='span2'>
            <div class='pull-right'>
                {% if page_next %}
                <a href='{% url 'tutors:list_by_subject' subject.slug %}?page={{page_next}}' class=''>Next&nbsp;<i class="icon-chevron-right"></i></a>
                {% endif %}
            </div>
        </div>
        <br />
        <hr />

    </div>
</div>

<hr />

<div id="portfolio">

    <!-- portfolio items -->		
    <section class="row" id="portfolio-items">
        {% for tutor in tutors %}
            <article class="span3 project" data-tags="design">

                <div class="thumbnail link">
                    <!-- image -->
                    <a href="{% url 'tutors:detail' tutor.pk %}" title="">
                        {% if not tutor.details.picture %}
                            <img src="http://placehold.it/298x186" alt="">
                        {% else %}
                            <img src="{% thumbnail tutor.details.picture 298x186 crop %}" alt="">
                        {% endif %}
                    </a>
                    <!-- description -->
                    <div class="project-description">
                        <!-- icon -->
                        <i class="icon-thumbs-up"></i>
                        <!-- name -->
                        <b class="project-name">{{tutor.details.name}}</b>
                        <br />
                        {% if tutor.details.state and tutor.details.area %}
                        {{tutor.details.state}}, {{tutor.details.area}}

                        {% endif %}
                    </div>
                </div>
            </article>

        {% endfor %}

    </section>
</div>

{% endblock %}
