{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% block nav-home %} active {% endblock %}

{% block content %}
<div class="hero-unit">
    <p>Find great home tuition teachers near you.</p> 
</div>

<hr />

<div id="portfolio">

    <!-- portfolio items -->		
    <section class="row" id="portfolio-items">
        {% for tutor in tutors %}
            <article class="span3 project" data-tags="design">

                <div class="thumbnail link">
                    <!-- image -->
                    <a href="{% url 'tutors:detail' tutor.pk tutor.details.name_slug %}" title="">
                        {% if not tutor.details.picture %}
                            <img src="http://placehold.it/298x186" alt="">
                        {% else %}
                            <img src="{% thumbnail tutor.details.picture 298x186 crop %}" alt="">
                        {% endif %}
                    </a>
                    <!-- description -->
                    <div class="project-description">
                        <!-- icon -->
                        <i class="icon-thumbs-up"></i>
                        <!-- name -->
                        <b class="project-name">{{tutor.details.name}}</b>
                        <br />
                        {% if tutor.details.state and tutor.details.area %}
                        {{tutor.details.state}}, {{tutor.details.area}}

                        {% endif %}
                    </div>
                </div>
            </article>

        {% endfor %}
    

        {% comment %}
        <!-- portfolio item-->
        <article class="span6 project" data-tags="design">

            <div class="thumbnail link">
                <!-- image -->
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/458x290/444/fff" />
                </a>
                <!-- description -->
                <div class="project-description">
                    <!-- icon -->
                    <i class="icon-th"></i>
                    <!-- name -->
                    <b class="project-name">Title</b>
                </div>
                <!-- ribbon -->
                <div class="ribbon"><span>Awarded</span></div>
            </div>

        </article>
        <!-- end portfolio item-->

        <article class="span6 project" data-tags="design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/458x290/444/fff" />
                </a>
                <a href="#"></a>
                <div class="project-description">
                    <b class="name">Awesome website</b>
                    <i class="icon-asterisk"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="web">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Awesome website</b>
                    <i class="icon-thumbs-up"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="web,ui-design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Awesome UI</b>
                    <i class="icon-beaker"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="web">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Awesome UI</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span3 project" data-tags="design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span3 project" data-tags="photography">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span3 project" data-tags="photography">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span3 project" data-tags="design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="photography">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="experiment">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="experiment,ui-design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="ui-design">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="experiment">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="photography">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="corporate">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration,corporate">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="illustration">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="corporate,web">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>				
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>

        <article class="span4 project" data-tags="photography">
            <div class="thumbnail link">
                <a href="project.html" title="">
                    <img alt="" src="http://placehold.it/298x186/444/fff" />
                </a>
                <div class="project-description">
                    <b class="name">Other project</b>
                    <i class="icon-heart"></i>
                </div>
            </div>
        </article>
        {% endcomment %}

    </section>
</div>

{% endblock %}
