{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block nav-dashboard %} active {% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <span href="#" class="thumbnail">
            {% if not user.details.picture %}
                <img src="http://placehold.it/360x268" alt="">
            {% else %}
                <img src="{% thumbnail user.details.picture 360x268 %}" alt="">
            {% endif %}
        </span>
        
    </div>
    <div class="span9">
        <h1>Dashboard</h1>

        <p>
            Hello, {{user.details.name}}
        </p>
        <p>
        We're working to bring more exciting and useful features for you here. In the meantime you can <a href='{% url 'accounts:update_password' %}'>Change your password</a> and <a href='{% url 'accounts:update_personal_information' %}'>update your profile</a>.
        </p>

        <p>
            Stay tuned!.<br /><br />
            Website administrator
        </p>

    </div>
</div>

{% endblock %}
