{% extends "base.html" %}
{% load url from future %}
{% block nav-dashboard %} active {% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <img alt="" src="http://placehold.it/298x186/444/fff" />
        
    </div>
    <div class="span9">
        <h1>Dashboard</h1>

        <p>
            Hello, {{user.details.name}}
        </p>
        <p>
        We're working to bring more exciting and useful features for you here. In the meantime you can <a href='{% url 'accounts:update_password' %}'>Change your password</a> and <a href='{% url 'accounts:update_personal_information' %}'>update your profile</a>.
        </p>

        <p>
            Stay tuned!.<br /><br />
            Website administrator
        </p>

    </div>
</div>

{% endblock %}
