{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class='row'>
    <div class='span12'>
        <h1>Update Password</h1>
        <form method='post' action=''>
            <div class="control-group {% if form.password.errors %} error {% endif %}">
                <label class='control-label' for='{{form.password.auto_id}}'>{{form.password.label}}</label>
                <div class='controls'>
                    {{form.password}}
                    <span class='help-inline'>{{form.password.errors.0|safe}}</span>
                </div>
            </div>
            <div class="control-group {% if form.confirm_password.errors %} error {% endif %}">
                <label class='control-label' for='{{form.confirm_password.auto_id}}'>{{form.confirm_password.label}}</label>
                <div class='controls'>
                    {{form.confirm_password}}
                    <span class='help-inline'>{{form.confirm_password.errors.0}}</span>
                </div>
            </div>
            {% csrf_token %}
            <p>
                <button type='submit' class="button yellow">Update &nbsp;<i class="icon-chevron-right"></i></button>
            </p>
        </form>
    </div>
</div>

{% endblock %}
