{% extends "accounts/update-profile-base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block nav-profile-teaching-subjects %} active {% endblock %}
{% block form-header %}
<h1>Which subjects can you teach?</h1>
<hr />

{% endblock %}

{% block form-content %}
<form class='form-horizontal' method='post' action='' enctype="multipart/form-data" >
    <div class="span10">
        <h4>Levels</h4>
        {% for levels in levels_columns %}
            <div class='span2'>
                {% for level in levels %}
                <label>
                    <input type='checkbox' name='levels' value='{{level.pk}}' {% if level.checked %} checked {% endif %}>
                    {{level.title}}
                </label>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="span10">
            <hr />
        </div>
    </div>

    <div class="span10">
        <h4>Subjects</h4>
        {% for subjects in subjects_columns %}
            <div class='span2'>
                {% for subject in subjects %}
                <label>
                    <input type='checkbox' name='subjects' value='{{subject.pk}}' {% if subject.checked %} checked {% endif %}>
                    {{subject.title}}
                </label>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="span10">
            <hr />
        </div>
    </div>


    <div class="span10">
        {% csrf_token %}
        <button type='submit' class='button'>Save &amp; continue</button> 
        {% if not user.teaching_subjects.exists and not user.teaching_levels.exists %}
        &nbsp;<a href='{% url 'accounts:update_education_background' %}'>Skip this step for now</a>.
        {% endif %}

    </div>


</form>

{% endblock %}

