{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="{% url 'accounts:update_personal_information' %}" class="btn btn-large {% block nav-profile-personal-information %}{% endblock %}">1. Personal Information</a></li>
        <li><a href="{% url 'accounts:update_teaching_experience' %}" class="btn btn-large {% block nav-profile-teaching-experience %}{% endblock %}">2. Teaching Experience</a></li>
        <li><a href="#" class="btn btn-large {% block nav-profile-teaching-subjects %}{% endblock %}">3. Teaching Subjects</a></li>
        <li><a href="#" class="btn btn-large {% block nav-profile-educational-background %}{% endblock %}">4. Educational Background</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="row">
                <div class="span10">
                    <div class='hero-unit'>
                        {% block form-header %} {% endblock %}
                    </div>
                </div>
                {% block form-content %} {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
